<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--헤드-->
<head>
<th:block th:replace="fragments/head :: headFragment"></th:block>
</head>
<!--헤더-->
<th:block th:replace="fragments/header :: header"></th:block>
<body>

    <div class="sub_wrap">
        <div class="sub_tit">
            <h1>회원가입</h1>
            <div class="under"></div>
        </div>
        <div class="contents_wrap">
            <div class="join_area">
                <div class="join_tit">
                    <p class="sub_bull"><span>기본정보</span></p>
                </div>

                <form name="f" method="post" action="#">
                    <input type="hidden" name="chk_email" value="N">
                    <input type="hidden" name="p_lang" value="ko">
                    <input type="hidden" name="p_gubun" value="T"> <!-- J:일반가입, F:축제, M:식권, V:자원봉사, T:trail -->

                    <div class="join_info">

                        <div class="e_mail">
                            <label for="email"></label>
                            <input type="email" name="f_email" placeholder="이메일" onclick="clickEmail();"
                                onblur="isEmail(this.name.value)" required>
                        </div>
                        <div id="info_email" class="warn_area">
                            <font color="#FF0000">이메일을 입력바랍니다.</font>
                        </div>

                        <div class="name01">
                            <label for="name"></label>
                            <input type="text" name="f_name" placeholder="이름" required>
                        </div>

                        <div class="pw01">
                            <label for="pw"></label>
                            <input type="password" name="f_pwd" placeholder="비밀번호" required>
                        </div>

                        <div class="pw02">
                            <label for="pw"></label>
                            <input type="password" name="f_pwd_re" placeholder="비밀번호 확인" required>
                        </div>

                        <div class="birth01">
                            <label for="birthday"></label>
                            <input type="text" name="f_birthday" placeholder="생년월일 ex)19810123"
                                onblur="return chk_num(this.name);">
                        </div>

                        <div class="gender01">
                            <div class="g_box">
                                <input type="radio" name="f_gender" id="M" value="M"><label for="M">남성</label>
                            </div>
                            <div class="g_box">
                                <input type="radio" name="f_gender" id="F" value="F"><label for="F">여성</label>
                            </div>
                        </div>

                        <div class="m_area">
                            <label for="phone"></label>
                            <div class="country_code">
                                <input type="tel" name="f_phone0" value="+82" readonly="readonly">
                            </div>
                            <div class="number01">
                                <input type="tel" name="f_phone1" value="010">
                            </div>
                            -
                            <div class="number01">
                                <input type="tel" name="f_phone2" onblur="return chk_num(this.name);">
                            </div>
                            -
                            <div class="number02">
                                <input type="tel" name="f_phone3" onblur="return chk_num(this.name);">
                            </div>
                        </div>
                        <div class="add_area">
                            <div class="zip_code">
                                <label for="zipcode"></label>
                                <input type="zipcode" name="f_zipcode" id="zipNo" readonly="readonly">

                            </div>
                            <div class="address_btn" onclick="goPopup();">주소검색</div>
                            <div class="add_01">
                                <label for="address"></label>
                                <input type="text" name="f_addr1" id="roadAddrPart1" readonly="readonly">
                            </div>
                            <div class="add_02">
                                <label for="address"></label>
                                <input type="text" name="f_addr2" placeholder="상세주소" id="addrDetail"
                                    readonly="readonly">
                            </div>
                        </div>

                    </div>

                    <div class="agree_box">
                        <ul>
                            <li class="join_agree">
                                <input type="checkbox" name="chk_personal" value="N"> <label for="chk_personal">개인정보
                                    취급방침</label>
                                <span><a href="/trail/kor/document/personal_ko.asp" target="_blank">전문보기</a></span>
                            </li>
                            <li class="join_agree">
                                <input type="checkbox" name="chk_join" value="N"> <label for="chk_join">이용약관 동의</label>
                                <span><a href="/trail/kor/document/use_ko.asp" target="_blank">전문보기</a></span>
                            </li>
                            <li class="join_agree">
                                <input type="checkbox" name="chk_sms" value="Y"> <label for="chk_join">SMS 및 이메일
                                    수신동의(선택)</label>
                                <span><a href="/trail/kor/document/sms_ko.asp" target="_blank">전문보기</a></span>
                            </li>
                        </ul>
                    </div>
                    <div class="button_box">
                        <input type="submit" class="btn-3d green" value="가입하기">
                    </div>
                </form>
                <!-- <div class="btn_join" onclick="chk_form();">가입하기</div> -->
            </div>

        </div>
    </div>

<!--푸터-->
    <div th:replace="fragments/footer :: footer"></div>
    </div>
</body>

</html>