<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/courseList.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f2f40eee94.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/footer.css">
    <script src="https://kit.fontawesome.com/f2f40eee94.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/header.css">
</head>
<body>
<!--nav start-->

<!-- 로그인 -->
<div class="loginForm" id="myDIV" style="display: none;">
    <form action="#" method="post">
        <label for="userId">아이디</label>
        <input type="text" id="userId" required>
        <label for="userPassword">비밀번호</label>
        <input type="password" id="userPassword" required>
        <input type="submit" class="btn-3d green" value="로그인">
    </form>
</div>
<!--nav end-->
<header>
    <nav class="navbar">
        <div class="nav-container">
            <div class="navbar-logo">
                <a href="#"><img src="images/main_logo.png" alt="서울로고" /></a>
                <a href="#">뚜벅조</a>
            </div>
            <ul class="navbar-menu">
                <li><a href="#">둘레길 안내</a></li>
                <li><a href="#">둘레길 코스</a></li>
                <li><a href="#">이용후기</a></li>
                <li><a href="#">이벤트</a></li>
                <li><a href="#">로그인</a></li>
                <li><a href="#">마이페이지</a></li>
            </ul>
            <ul class="navbar-icons">
                <li><a href="#"><i class="fa-brands fa-facebook n1"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram n1"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter n1"></i></a></li>
            </ul>
        </div>
    </nav>
</header>

<!--course start-->
<div class="course-container">
    <div class = "img-link">
        <a class="img-button" href="#">
            <img src = "images/bulam.jpg">
        </a>
        <a href="#">
            <div class = "img-link-text">1코스-수락·불암산코스</div>
        </a>
    </div>
</div>
<br>
<div class="course-container">
    <div class = "img-link">
        <a class="img-button" href="#">
            <img src = "images/acha.jpg">
        </a>
        <a href="#">
            <div class = "img-link-text">2코스-용마·아차산코스</div>
        </a>
    </div>
</div>
<br>
<div class="course-container">
    <div class = "img-link">
        <a class="img-button" href="#">
            <img src = "images/ilja.jpg">
        </a>
        <a href="#">
            <div class = "img-link-text">3코스-고덕·일자산코스</div>
        </a>
    </div>
</div>
<br>
<div class="course-container">
    <div class = "img-link">
        <a class="img-button" href="#">
            <img src = "images/woomyeun.jpg">
        </a>
        <a href="#">
            <div class = "img-link-text">4코스-대모·우면산코스</div>
        </a>
    </div>
</div>
<br>
<div class="course-container">
    <div class = "img-link">
        <a class="img-button" href="#">
            <img src = "images/hoam.jpg">
        </a>
        <a href="#">
            <div class = "img-link-text">5코스-관악·호암산코스</div>
        </a>
    </div>
</div>
<br>
<div class="course-container">
    <div class = "img-link">
        <a class="img-button" href="#">
            <img src = "images/han.jpg">
        </a>
        <a href="#">
            <div class = "img-link-text">6코스-안양천·한강코스</div>
        </a>
    </div>
</div>
<br>
<div class="course-container">
    <div class = "img-link">
        <a class="img-button" href="#">
            <img src = "images/aangbo.jpg">
        </a>
        <a href="#">
            <div class = "img-link-text">7코스-봉산·앵봉산코스</div>
        </a>
    </div>
</div>
<br>
<div class="course-container">
    <div class = "img-link">
        <a class="img-button" href="#">
            <img src = "images/dobong.jpg">
        </a>
        <a href="#">
            <div class = "img-link-text">8코스-북한·도봉산산코스</div>
        </a>
    </div>
</div>
<!--course end-->

<!--footer-->
<div class="footerWrap">
    <footer class="footer-container">
        <div class="item">
            <img src="images/foot_logo.png" alt="푸터로고">
        </div>
        <div class="item">
            <p>All Rights Reserved.</p>
            <a target="_blank" href="https://icons8.com/icon/TmxHCqKpwMJk/%EB%8B%AC%EB%A0%A5-3">달력 3</a> icon by <a
                target="_blank" href="https://icons8.com">Icons8</a>
        </div>
        <div class="item sns">
            <a href="#"><i class="fa-brands fa-facebook n1"></i></a>
            <a href="#"><i class="fa-brands fa-instagram n1"></i></a>
            <a href="#"><i class="fa-brands fa-twitter n1"></i></a>
        </div>
    </footer>
</div>
</body>
</html>