<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/join.css">
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <script type="text/javascript" src="../static/js/common.js"></script>
    <script src="https://kit.fontawesome.com/f2f40eee94.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/header.css">
    <title>회원가입</title>
  </head>

  <header>
    <nav class="navbar">
      <div class="nav-container">
        <div class="navbar-logo">
          <a href="#"><img src="../static/images/main/main_logo.png" alt="서울로고" /></a>
          <a href="#">뚜벅조</a>
        </div>
        <ul class="navbar-menu">
          <li><a href="#">둘레길 안내</a></li>
          <li><a href="#">둘레길 코스</a></li>
          <li><a href="#">이용후기</a></li>
          <li><a href="#">이벤트</a></li>
          <li><a href="#" onclick="doDisplay()">로그인</a></li>
          <li><a href="#">마이페이지</a></li>
        </ul>
        <ul class="navbar-icons">
          <li><a href="#"><i class="fa-brands fa-facebook n1"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-instagram n1"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-twitter n1"></i></a></li>
        </ul>
      </div>
    </nav>
    <!-- 로그인 -->
    <div class="loginForm" id="myDIV" style="display: none;">
      <form action="#" method="post" class="form">
        <label for="userId">아이디</label>
        <input type="email" id="userId" placeholder="userEmail@Email.com" required>
        <label for="userPassword">비밀번호</label>
        <input type="password" id="userPassword" placeholder="userPassword" required>
        <input type="submit" class="btn cyan rounded" value="로그인">
      </form>
    </div>
  </header>
</th:block>
</html>