<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="footerWrap" th:fragment="footer">
    <footer class="footer-container">
        <div class="item">
            <img src="images/main/foot_logo.png" alt="푸터로고">
        </div>
        <div class="item">
            <p>All Rights Reserved.</p>
            <a target="_blank" href="https://icons8.com/icon/TmxHCqKpwMJk/%EB%8B%AC%EB%A0%A5-3">달력 3</a> icon by <a
                target="_blank" href="https://icons8.com">Icons8</a>
        </div>
        <div class="item sns">
            <a href="#"><i class="fa-brands fa-facebook n1"></i></a>
            <a href="#"><i class="fa-brands fa-instagram n1"></i></a>
            <a href="#"><i class="fa-brands fa-twitter n1"></i></a>

        </div>


    </footer>
</div>
</html>