<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>코스리스트</title>
    <th:block th:replace="fragments/head :: headFragment"></th:block>
    <link rel="stylesheet" href="css/courseList.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f2f40eee94.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/footer.css">
    <script src="https://kit.fontawesome.com/f2f40eee94.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/header.css">
</head>
<body>
<!--nav start-->

<!--헤더-->
<!-- 로그인 -->
<th:block th:replace="fragments/header :: header"></th:block>

<!--course start-->
<div class="course-container">
    <div class = "img-link">
        <a class="img-button" href="/course1">
            <img src = "/images/courseList/bulam.jpg">
        </a>
        <a href="/course1">
            <div class = "img-link-text">1코스-수락·불암산코스</div>
        </a>
    </div>
</div>
<br>
<div class="course-container">
    <div class = "img-link">
        <a class="img-button" href="#">
            <img src = "/images/courseList/acha.jpg">
        </a>
        <a href="#">
            <div class = "img-link-text">2코스-용마·아차산코스</div>
        </a>
    </div>
</div>
<br>
<div class="course-container">
    <div class = "img-link">
        <a class="img-button" href="#">
            <img src = "/images/courseList/ilja.jpg">
        </a>
        <a href="#">
            <div class = "img-link-text">3코스-고덕·일자산코스</div>
        </a>
    </div>
</div>
<br>
<div class="course-container">
    <div class = "img-link">
        <a class="img-button" href="#">
            <img src = "/images/courseList/woomyeun.jpg">
        </a>
        <a href="#">
            <div class = "img-link-text">4코스-대모·우면산코스</div>
        </a>
    </div>
</div>
<br>
<div class="course-container">
    <div class = "img-link">
        <a class="img-button" href="#">
            <img src = "/images/courseList/hoam.jpg">
        </a>
        <a href="#">
            <div class = "img-link-text">5코스-관악·호암산코스</div>
        </a>
    </div>
</div>
<br>
<div class="course-container">
    <div class = "img-link">
        <a class="img-button" href="#">
            <img src = "/images/courseList/han.jpg">
        </a>
        <a href="#">
            <div class = "img-link-text">6코스-안양천·한강코스</div>
        </a>
    </div>
</div>
<br>
<div class="course-container">
    <div class = "img-link">
        <a class="img-button" href="#">
            <img src = "/images/courseList/aangbo.jpg">
        </a>
        <a href="#">
            <div class = "img-link-text">7코스-봉산·앵봉산코스</div>
        </a>
    </div>
</div>
<br>
<div class="course-container">
    <div class = "img-link">
        <a class="img-button" href="#">
            <img src = "/images/courseList/dobong.jpg">
        </a>
        <a href="#">
            <div class = "img-link-text">8코스-북한·도봉산산코스</div>
        </a>
    </div>
</div>
<!--course end-->

<!--푸터-->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>