<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>course 1</title>
    <th:block th:replace="fragments/head :: headFragment"></th:block>
    <link rel="stylesheet" href="/css/course1.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f2f40eee94.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<!--여기는 헤더-->
<th:block th:replace="fragments/header :: header"></th:block>

<div class="h1-wrap">

</div>
<!--여기는 정보-->
<div class="top-info">
    <h3 class="title-c1">1코스-수락·불암산코스</h3>
    <table class="">
        <tr>
            <th>코스</th>
            <th>지역</th>
            <th>거리</th>
            <th>소요시간</th>
            <th> 난이도 </th>
        </tr>
        <tr>
            <td>1코스-수락·불암산코스</td>
            <td>노원구,도봉구</td>
            <td>18.6km</td>
            <td>8시간 10분</td>
            <td> 고급 </td>
        </tr>
    </table>
</div>

<!--여기는 맵-->
<div class="course-map">
    <iframe src="https://map.seoul.go.kr/smgis/short.jsp?p=6LBTL"
            title="서울의 역사, 문화, 자연생태를 탐방할 수 있는 서울둘레길에 대한 정보지도입니다.">
    </iframe>
</div>
<br>

<!--여기는 코스 진입 방법-->
<div class="info-text">
    <p>서울 둘레길의 1코스로서 수락산과 불암산을 통과하는 노선이다. 서울의 대표적인 수락산과 불암산을 트래킹하며 숙련된 트래킹기술을 요하지는 않도록 정상을 통과하는 것이 아닌 불암산을 둘러 통과하는 노선으로 대체적으로 완만하다. 이 코스는 수락산과 함께 연계되어 태릉까지 이어지며 노선주변으로 수락산역, 당고개역, 상계역, 화랑대역 등이 인접한다.</p>
</div>
<div class="info-table">
    <table class="route-info">
        <tr>
            <th scope="row" class="row">출발지</th>
            <td>지하철 1호선, 7호선 도봉산역 2번 출입구</td>
        </tr>
        <tr>
            <th scope="row" class="row">진입로1</th>
            <td>지하철 7호선 수락산역 3번 출입구</td>
        </tr>
        <tr>
            <th scope="row" class="row">진입로2</th>
            <td>지하철 4호선 당고개역 3번 출입구</td>
        </tr>
        <tr>
            <th scope="row" class="row">도착지</th>
            <td>지하철 6호선 화랑대역 4번 출입구</td>
        </tr>
    </table>
    <br>

<!--여기는 세부코스정보-->
    <table class="course-info">
        <tr>
            <th>코스명</th>
            <th>거리</th>
            <th>소요시간</th>
            <th>코스설명</th>
        </tr>
        <tr>
            <td>여기에 db출역1-1/1</td>
            <td>여기에 db출역1-1/2</td>
            <td>여기에 db출역1-1/3</td>
            <td>여기에 db출역1-1/4</td>
        </tr>
        <tr>
            <td>여기에 db출역1-2/1</td>
            <td>여기에 db출역1-2/2</td>
            <td>여기에 db출역1-2/3</td>
            <td>여기에 db출역1-2/4</td>
        </tr>
        <tr>
            <td>여기에 db출역1-3/1</td>
            <td>여기에 db출역1-3/2</td>
            <td>여기에 db출역1-3/3</td>
            <td>여기에 db출역1-3/4</td>
        </tr>
        <tr>
            <td colspan="2">(단축코스)</td>
            <td colspan="2">당고개 ~ 철쭉동산</td>
        </tr>
        <tr>
            <td colspan="2">세부코스</td>
            <td colspan="2">도봉산역∼서울창포원∼덕릉고개∼넒은마당∼경수사∼성관사∼넓적바위∼학도암∼태릉∼화랑대</td>
        </tr>
    </table>
</div>
<br>

<!--여기는 배부처-->
<table class="con-info">
    <tr>
        <th>배부처</th>
        <th>연락처</th>
    </tr>
    <tr>
        <td>서울둘레길 안내센터(창포원)</td>
        <td>779-7901∼4</td>
    </tr>
    <tr>
        <td>서울시청 1층 열린민원실</td>
        <td>2133-7904∼5</td>
    </tr>
    <tr>
        <td>서울둘레길 안내센터(양재)</td>
        <td>070-4465-7905</td>
    </tr>
    <tr>
        <td>아차산관리사무소</td>
        <td>450-1655</td>
    </tr>
    <tr>
        <td>관악산관리사무소</td>
        <td>879-6561</td>
    </tr>
</table>
<br>

<!--여기는 주요지점-->
<div class="img-slider">
    <div class="slider-content">
        <input type="radio" name="slide-btn" id="img1" checked>
        <input type="radio" name="slide-btn" id="img2">
        <input type="radio" name="slide-btn" id="img3">
        <input type="radio" name="slide-btn" id="img4">
        <input type="radio" name="slide-btn" id="img5">
        <input type="radio" name="slide-btn" id="img6">
        <input type="radio" name="slide-btn" id="img7">
        <input type="radio" name="slide-btn" id="img8">
        <input type="radio" name="slide-btn" id="img9">
        <input type="radio" name="slide-btn" id="img10">
        <input type="radio" name="slide-btn" id="img11">

        <img src="images/courseInfo/1-1.jpg" class="simg1" alt="img1">
        <img src="images/courseInfo/1-2.jpg" class="simg2" alt="img2">
        <img src="images/courseInfo/1-3.jpg" class="simg3" alt="img3">
        <img src="images/courseInfo/1-4.jpg" class="simg4" alt="img4">
        <img src="images/courseInfo/1-5.jpg" class="simg5" alt="img5">
        <img src="images/courseInfo/1-6.jpg" class="simg6" alt="img6">
        <img src="images/courseInfo/1-7.jpg" class="simg7" alt="img7">
        <img src="images/courseInfo/1-8.jpg" class="simg8" alt="img8">
        <img src="images/courseInfo/1-9.jpg" class="simg9" alt="img9">
        <img src="images/courseInfo/1-10.jpg" class="simg10" alt="img10">
        <img src="images/courseInfo/1-11.jpg" class="simg11" alt="img11">
    </div>
    <div class="dots">
        <label for="img1"></label>
        <label for="img2"></label>
        <label for="img3"></label>
        <label for="img4"></label>
        <label for="img5"></label>
        <label for="img6"></label>
        <label for="img7"></label>
        <label for="img8"></label>
        <label for="img9"></label>
        <label for="img10"></label>
        <label for="img11"></label>
    </div>
</div>

<!--푸터-->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>